.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0d1038de !important ;
  padding: 8px 0px;
  gap: 1rem;
  margin-bottom: 0px;
}
.footer p{
  text-transform: capitalize;
  color: #fff !important;
}
.footer .p2 {
  
  cursor: pointer;
  color: #949ef9 !important;
  
}
.footer .p2:hover{
    color: rgb(15, 229, 15) !important;
    scale: 1.1;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
