.modal-content {
    background-color: inherit !important;
    color: inherit !important;
    border: none !important;
  
    
}

.model-container {
    
    display: flex;
    align-items: start;
    justify-content: space-between;
    border: none !important;

   
}
.modal-header {
   
    border: none !important;
}



.model-desc {
    display: flex;
   
   
    justify-content: start;
   
    color: inherit !important;
    flex-wrap: wrap;
    
}

.title-pric {
    display: flex;
   
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-top: 1.3rem;
}

.title-pric span {
    color: red;

}

.footer-model p {
    
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    text-transform: capitalize;
}

.footer-model {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
    gap: 1.2rem;
}

.footer-model.footer-model img {
    cursor: pointer;
    margin-right: 10px;
   
}
.footer-model img:hover{
    scale: 1.2;
    rotate: 3deg;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}



.footer-model Button {
    background: inherit;
    color: inherit;
    border: none;
   
}

.footer-model Button:hover {
    background: inherit !important;
    color: #fe7207da !important;
}

@media (max-width: 1000px) {
    .model-container {
        flex-direction: column;
        align-items: center;
    }

    .model-desc {
        width: 100%;
    }

   .model-img{
    width: 100%;
   }
   .model-img img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 15px;
   }

   .footer-model.footer-model img{
    width: 70px;
   }

   
}
